# Personal Data Analysis

In [1]:
#Importing the important libraries 

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['font.size'] = 12
plt.rcParams['figure.figsize'] = (22,5)
plt.rcParams['figure.dpi'] = 100

In [2]:
import numpy as np

In [3]:
data = {
'Date': pd.date_range(start='2023-01-01', periods=180, freq='D'),

'CompanyX_StockPrice': np.random.randint(50, 150, 180),

'CompanyY_Sales': np.random.randint(20000, 50000, 180),
'CompanyZ_StockPrice': np.random.randint(70, 200, 180)

}

df = pd.DataFrame(data)

In [4]:
df

          Date  CompanyX_StockPrice  CompanyY_Sales  CompanyZ_StockPrice
0   2023-01-01                   65           34049                  108
1   2023-01-02                   74           43153                  182
2   2023-01-03                  105           26180                  158
3   2023-01-04                  110           47052                  131
4   2023-01-05                  105           41536                  146
..         ...                  ...             ...                  ...
175 2023-06-25                   72           31060                  182
176 2023-06-26                   69           32372                  145
177 2023-06-27                  110           28363                   93
178 2023-06-28                   96           40716                   99
179 2023-06-29                   73           38382                  111

[180 rows x 4 columns]

1️⃣ Calculate the average stock price for Company X over the last 6 months.

In [5]:
avg_price = round(df[(df['Date'] >= (df['Date'].max() - pd.Timedelta(days=30*6)))]['CompanyY_Sales'].mean(),2)
print(f"The average stock price for Company X over the last 6 months is {avg_price}")

The average stock price for Company X over the last 6 months is 34452.06

2️⃣ Identify the month with the highest total sales for Company Y from their monthly sales data.

In [6]:
value = df.groupby(df['Date'].dt.month)['CompanyY_Sales'].sum().sort_values().iloc[-1]
month =  df.groupby(df['Date'].dt.month)['CompanyY_Sales'].sum().sort_values().index[-1]
print(f"The Highest total sales for Company Y was {value} in the month {month}st")

The Highest total sales for Company Y was 1083734 in the month 1st


3️⃣ Find the maximum and minimum stock price for Company Z on any day in the last year.

In [7]:
least = df['CompanyZ_StockPrice'].min()
maximum = df['CompanyZ_StockPrice'].max()
print(f"The maximum and minimum stock price for Company Z on any day in the last year was {least} and {maximum} respectively")

The maximum and minimum stock price for Company Z on any day in the last year was 71 and 198 respectively

4️⃣ Add a column in the DataFrame showing the percentage change in stock price from the previous day for Company X.

In [8]:
df['X_Pct_change'] = abs(round((df['CompanyX_StockPrice'] - df['CompanyX_StockPrice'].shift(-1).fillna(0))/ df['CompanyX_StockPrice']*100,2))

In [9]:
df

,Date,CompanyX_StockPrice,CompanyY_Sales,CompanyZ_StockPrice,X_Pct_change
0,2023-01-01,65,34049,108,13.85
1,2023-01-02,74,43153,182,41.89
2,2023-01-03,105,26180,158,4.76
3,2023-01-04,110,47052,131,4.55
4,2023-01-05,105,41536,146,1.90
...,...,...,...,...,...
175,2023-06-25,72,31060,182,4.17
176,2023-06-26,69,32372,145,59.42
177,2023-06-27,110,28363,93,12.73
178,2023-06-28,96,40716,99,23.96
179,2023-06-29,73,38382,111,100.00

5️⃣ Determine the number of days when Company Y's sales surpassed its 30-day moving average.

In [10]:
df['CompanyY_Sales_MA'] = df['CompanyY_Sales'].rolling(window=30).mean()
days_above_average = (df['CompanyY_Sales'] > df['CompanyY_Sales_MA']).sum()
print(f"Number of days when Company Y's sales surpassed 30-day moving average: {days_above_average}")

Number of days when Company Y's sales surpassed 30-day moving average: 73

6️⃣ Compare the average stock price of Companies X and Z in the first quarter of the year.

In [11]:
qtr = df[df['Date'].dt.month.isin([1,2,3])]
x_mean, z_mean = round(qtr['CompanyX_StockPrice'].mean(),2) , round(qtr['CompanyZ_StockPrice'].mean(),2)
print(f"the average stock price of Companies X and Z in the first quarter of the year was {x_mean} and {z_mean} respectively")

the average stock price of Companies X and Z in the first quarter of the year was 93.67 and 135.83 respectively